@font-face {
    font-family: robotoMono;
    src: url(../assets/font/RobotoMono-VariableFont_wght.ttf);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: robotoMono;
    color: #f0f0f0;
    width: 100%;
    main {
        width: 100%;
        a {
            color: #11ff00;
        }
    }
}

section .cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    button {
        background-color: transparent;
        font-size: 1.5rem;
        color: #11ff00;
        border: none;
        margin-right: 0.5rem;
        font-weight: 900;
        padding-bottom: 0.5;
        cursor: pointer;
        position: relative;
        &::after {
            content: " ";
            border-bottom: 2px solid;
            position: absolute;
            width: 10%;
            bottom: 0;
            left: 0;
            transition: width 200ms ease-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
    img {
        width: 1.5rem;
        transition: transform 200ms ease-out;
    }
    &:hover img {
        transform: rotate(-0.25turn);
    }
}

.appbar {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    .logo {
        font-size: 2rem;
        font-weight: 900;
        position: relative;
        cursor: pointer;
        span {
            position: absolute;
            transition: transform 200ms ease-out, opacity 250ms ease-out;
        }
        .hover {
            color: #11ff00;
            transform: translateY(-2rem);
            opacity: 0;
        }
        &:hover .hover {
            transform: translateY(0);
            opacity: 1;
        }
        &:hover .rest {
            transform: translateY(2rem);
            opacity: 0;
        }
    }
    .links {
        list-style: none;
        display: flex;
        flex-direction: row;
        .link {
            margin-right: 1.5rem;
            cursor: pointer;
            position: relative;
            padding-bottom: 0.5rem;
            &::after {
                content: " ";
                border-bottom: 2px solid #f0f0f0;
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                transition: width 200ms ease-out;
            }
            &:hover::after {
                width: 0;
            }
        }
    }
}

.jumbotron {
    margin: 0 3rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .heading {
        font-size: 2rem;
        max-width: 500px;
        font-weight: 900;
        span {
            color: #6c63ff;
        }
    }
    .subtext {
        margin: 1rem 0;
        font-size: 1.5rem;
        max-width: 500px;
        font-weight: 300;
    }
    img {
        width: 50%;
    }
}

.alt {
    margin: 0 3rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    .title {
        font-size: 1.5rem;
        color: #ff7700;
    }
    .heading {
        margin: 1rem 0;
        max-width: 700px;
    }
    p {
        margin: 1rem 0;
        max-width: 700px;
    }
    .img {
        margin-top: 2rem;
        width: 30%;
        align-self: center;
    }
    .cta:hover img {
        transform: rotate(0.25turn);
    }
}

.openion {
    margin: 0 7rem;
    margin-top: 7rem;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::before {
        content: " ";
        border-bottom: 2px solid #f0f0f0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transform: scaleX(50%);
        transition: transform 200ms ease-out;
        transform-origin: left;
    }
    &::after {
        content: " ";
        border-bottom: 2px solid #f0f0f0;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: scaleX(50%);
        transition: transform 200ms ease-out;
        transform-origin: right;
    }
    &:hover::before {
        transform: scaleX(0);
    }
    &:hover::after {
        transform: scaleX(0);
    }
    p {
        max-width: 500px;
        position: relative;
        text-align: center;
        font-size: 1.5rem;
        &:before {
            content: '"';
            color: #ff7700;
        }
        &::after {
            content: '"';
            color: #ff7700;
        }
    }
    .profile {
        width: 10%;
    }
    .name {
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
    .from {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        span {
            color: #6c63ff;
        }
    }
}

.primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem;
    margin-top: 5rem;
    .img {
        width: 40%;
        padding: 0 4rem;
    }
    .info {
        display: flex;
        flex-direction: column;
        .title {
            color: #ff7700;
        }
        .heading {
            max-width: 500px;
            margin: 3rem 0;
        }
        p {
            max-width: 500px;
            margin: 1rem 0;
        }
        .cta:hover img {
            transform: rotate(0.25turn);
        }
    }
}

.contact {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
        max-width: 500px;
    }
    p {
        max-width: 500px;
        text-align: center;
        margin: 2rem 0;
    }
    form {
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        input {
            width: 100%;
            padding: 1rem 3rem;
            margin: 1rem 0;
        }
        .cta:hover img {
            transform: rotate(0.25turn);
        }
    }
}
