@font-face {
  font-family: robotoMono;
  src: url(../assets/font/RobotoMono-VariableFont_wght.ttf);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  font-family: robotoMono;
  color: #f0f0f0;
  width: 100%;
}

body main {
  width: 100%;
}

body main a {
  color: #11ff00;
}

section .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

section .cta button {
  background-color: transparent;
  font-size: 1.5rem;
  color: #11ff00;
  border: none;
  margin-right: 0.5rem;
  font-weight: 900;
  padding-bottom: 0.5;
  cursor: pointer;
  position: relative;
}

section .cta button::after {
  content: " ";
  border-bottom: 2px solid;
  position: absolute;
  width: 10%;
  bottom: 0;
  left: 0;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
}

section .cta button:hover::after {
  width: 100%;
}

section .cta img {
  width: 1.5rem;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

section .cta:hover img {
  -webkit-transform: rotate(-0.25turn);
          transform: rotate(-0.25turn);
}

.appbar {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.appbar .logo {
  font-size: 2rem;
  font-weight: 900;
  position: relative;
  cursor: pointer;
}

.appbar .logo span {
  position: absolute;
  -webkit-transition: opacity 250ms ease-out, -webkit-transform 200ms ease-out;
  transition: opacity 250ms ease-out, -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out, opacity 250ms ease-out;
  transition: transform 200ms ease-out, opacity 250ms ease-out, -webkit-transform 200ms ease-out;
}

.appbar .logo .hover {
  color: #11ff00;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  opacity: 0;
}

.appbar .logo:hover .hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.appbar .logo:hover .rest {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0;
}

.appbar .links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.appbar .links .link {
  margin-right: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 0.5rem;
}

.appbar .links .link::after {
  content: " ";
  border-bottom: 2px solid #f0f0f0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
}

.appbar .links .link:hover::after {
  width: 0;
}

.jumbotron {
  margin: 0 3rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jumbotron .heading {
  font-size: 2rem;
  max-width: 500px;
  font-weight: 900;
}

.jumbotron .heading span {
  color: #6c63ff;
}

.jumbotron .subtext {
  margin: 1rem 0;
  font-size: 1.5rem;
  max-width: 500px;
  font-weight: 300;
}

.jumbotron img {
  width: 50%;
}

.alt {
  margin: 0 3rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alt .title {
  font-size: 1.5rem;
  color: #ff7700;
}

.alt .heading {
  margin: 1rem 0;
  max-width: 700px;
}

.alt p {
  margin: 1rem 0;
  max-width: 700px;
}

.alt .img {
  margin-top: 2rem;
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.alt .cta:hover img {
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
}

.openion {
  margin: 0 7rem;
  margin-top: 7rem;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.openion::before {
  content: " ";
  border-bottom: 2px solid #f0f0f0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(50%);
          transform: scaleX(50%);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.openion::after {
  content: " ";
  border-bottom: 2px solid #f0f0f0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(50%);
          transform: scaleX(50%);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.openion:hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.openion:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.openion p {
  max-width: 500px;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
}

.openion p:before {
  content: '"';
  color: #ff7700;
}

.openion p::after {
  content: '"';
  color: #ff7700;
}

.openion .profile {
  width: 10%;
}

.openion .name {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.openion .from {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.openion .from span {
  color: #6c63ff;
}

.primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3rem;
  margin-top: 5rem;
}

.primary .img {
  width: 40%;
  padding: 0 4rem;
}

.primary .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.primary .info .title {
  color: #ff7700;
}

.primary .info .heading {
  max-width: 500px;
  margin: 3rem 0;
}

.primary .info p {
  max-width: 500px;
  margin: 1rem 0;
}

.primary .info .cta:hover img {
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
}

.contact {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .heading {
  max-width: 500px;
}

.contact p {
  max-width: 500px;
  text-align: center;
  margin: 2rem 0;
}

.contact form {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form input {
  width: 100%;
  padding: 1rem 3rem;
  margin: 1rem 0;
}

.contact form .cta:hover img {
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
}
/*# sourceMappingURL=style.css.map */